body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e7e6e1;
}

header {
    background-color: #28527a;
}

h1 {
    font-family: "Lobster Two", cursive;
    font-style: italic;
    font-size: 2.25rem;
}

.underlined-text {
    text-decoration: underline;
}

.bd-placeholder-img {
    background: rgb(40, 82, 122);
    background: linear-gradient(180deg, rgba(40, 82, 122, 1) 0%, rgba(180, 214, 247, 1) 100%);
    width: 100%;
    height: 100%;
}

.carousel-title {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    font-weight: 900;
}

p {
    font-weight: 500;
}

.quote {
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 2rem;
}

.text-height {
    line-height: 2.75rem
}

.text-sm {
    font-size: 12px;
}

.link-colored {
    color: #fff;
}

.link-colored:hover {
    color: #f875aa;
}

.btn {
    border-radius: 25px;
    border-width: 1.75px;
}

.btn-blue {
    background-color: #bee5d3;
    color: #350b40;
}

.btn-pink {
    background-color: #f875aa;
    color: #fff;
    border-color: #000;
}

.nav-link {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 900;
}

.img-sm {
    width: 43%;
}

.img-flip {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.img-flip:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.img-zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.img-zoom:hover {
    transform: scale(1.11);
}

.featurette-divider {
    background-color: #000 !important;
}