body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 2rem;
    font-weight: 900;
}

p {
    font-weight: 500;
}

.link-colored {
    color: #350b40 !important;
}

.bg-colored {
    background-color: #ece7d8;
}

.carousel.bg-colored {
    background-color: #350b40;
}

.quote {
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 2rem;
}

.text-height {
    line-height: 2.75rem
}

.text-sm {
    font-size: 12px;
}

h1.underlined-text {
    font-family: "Lobster Two", cursive;
    font-style: italic;
    font-size: 2rem;
    color: #350b40;
}

h1.underlined-text:hover {
    color: #f875aa;
}

.underlined-text {
    text-decoration: underline;
}

.header-text {
    font-family: "Lobster Two", cursive;
    font-size: 3.5rem;
}

.btn-blue {
    background-color: #bee5d3;
    border-radius: 25px;
    color: #350b40;
    border-width: 1.75px;
}

.navbar-toggler-icon:hover {
    color: #f875aa !important;
}

.nav-link {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 900;
}

.nav-link:hover {
    color: #f875aa !important;
}

.img-flip {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.img-flip:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.img-zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.img-zoom:hover {
    transform: scale(1.05);
}